Repository prgrms-be-devcourse/NBE4-5-1-Team07, pull requests merged in 2025-02, with the labels that each got.

#9 feat(3, 7): 회원등록 및 인증/인가
  backend/build.gradle
  backend/src/main/java/com/coffeebean/domain/user/user/controller/UserController.java
  backend/src/main/java/com/coffeebean/domain/user/user/dto/EmailVerificationRequest.java
  backend/src/main/java/com/coffeebean/domain/user/user/dto/SignupReqBody.java
  backend/src/main/java/com/coffeebean/domain/user/user/enitity/User.java
  backend/src/main/java/com/coffeebean/domain/user/user/repository/UserRepository.java
  backend/src/main/java/com/coffeebean/domain/user/user/service/EmailVerificationService.java
  backend/src/main/java/com/coffeebean/domain/user/user/service/MailService.java
  backend/src/main/java/com/coffeebean/domain/user/user/service/UserService.java
  backend/src/main/java/com/coffeebean/global/email/MailConfig.java
  backend/src/main/java/com/coffeebean/global/security/SecurityConfig.java
  backend/src/main/java/com/coffeebean/global/util/JwtUtil.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/coffeebean/domain/user/UserControllerTest.java
  backend/src/test/java/com/coffeebean/domain/user/UserRepositoryTest.java
  backend/src/test/java/com/coffeebean/domain/user/UserServiceTest.java
Labels: 🔥 backend, ✨ feat

#22 feat(17): 전체 주문 조회 / 상세 조회 / 취소 로직 + 프론트
  backend/src/main/java/com/coffeebean/domain/order/order/OrderDetailDto.java
  backend/src/main/java/com/coffeebean/domain/order/order/OrderDto.java
  backend/src/main/java/com/coffeebean/domain/order/order/controller/OrderController.java
  backend/src/main/java/com/coffeebean/domain/order/order/entity/Order.java
  backend/src/main/java/com/coffeebean/domain/order/order/repository/OrderRepository.java
  backend/src/main/java/com/coffeebean/domain/order/order/service/OrderService.java
  backend/src/main/java/com/coffeebean/domain/order/orderItem/entity/OrderItem.java
  backend/src/main/java/com/coffeebean/global/exception/DataNotFoundException.java
  backend/src/main/java/com/coffeebean/global/exception/GlobalExceptionHandler.java
  backend/src/test/java/com/coffeebean/domain/order/order/service/OrderServiceIntegrationTest.java
  backend/src/test/java/com/coffeebean/domain/order/order/service/OrderServiceUnitTest.java
  frontend/package-lock.json
  frontend/src/app/orders/detail/[orderId]/page.tsx
  frontend/src/app/orders/page.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend

#19 feat(4): 장바구니 관리
  backend/src/main/java/com/coffeebean/domain/cart/cart/controller/ApiV1CartController.java
  backend/src/main/java/com/coffeebean/domain/cart/cart/dto/CartItemDto.java
  backend/src/main/java/com/coffeebean/domain/cart/cart/dto/CartListResponseDto.java
  backend/src/main/java/com/coffeebean/domain/cart/cart/entity/Cart.java
  backend/src/main/java/com/coffeebean/domain/cart/cart/repository/CartRepository.java
  backend/src/main/java/com/coffeebean/domain/cart/cart/service/CartService.java
  backend/src/main/java/com/coffeebean/domain/cart/cartItem/entity/CartItem.java
  backend/src/main/java/com/coffeebean/domain/cart/cartItem/repository/CartItemRepository.java
  backend/src/main/java/com/coffeebean/domain/cart/cartItem/service/CartItemService.java
  backend/src/main/java/com/coffeebean/global/init/BaseInit.java
  backend/src/test/java/com/coffeebean/domain/cart/cart/controller/ApiV1CartControllerTest.java
Labels: 🔥 backend, ✨ feat

#26 feat(21): 장바구니 페이지 레이아웃 화면 구현
  frontend/public/images/columbia.jpg
  frontend/public/images/columbia.png
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/cart/ClientPage.tsx
  frontend/src/app/items/ClientPage.tsx
  frontend/src/app/items/[id]/ClientPage.tsx
  frontend/src/app/items/[id]/page.tsx
  frontend/src/app/notice/ClientPage.tsx
Labels: ✨ feat, 🌈 frontend

#28 feat(27): 주문 등록 API의 응답 RsData 형식으로 수정
  backend/src/main/java/com/coffeebean/domain/order/order/controller/ApiV1OrderController.java
  backend/src/main/java/com/coffeebean/domain/order/order/dto/OrderCreateResponse.java
  backend/src/main/java/com/coffeebean/domain/order/order/service/OrderService.java
  backend/src/main/java/com/coffeebean/global/aspect/ResponseAspect.java
  backend/src/test/java/com/coffeebean/domain/order/order/controller/ApiV1OrderControllerTest.java
Labels: 🔥 backend, ✨ feat

#29 feat(25): 회원가입, 로그인 리팩터링
  backend/build.gradle
  backend/src/main/java/com/coffeebean/domain/user/user/controller/UserController.java
  backend/src/main/java/com/coffeebean/domain/user/user/dto/VerificationData.java
  backend/src/main/java/com/coffeebean/domain/user/user/enitity/User.java
  backend/src/main/java/com/coffeebean/domain/user/user/service/EmailVerificationService.java
  backend/src/main/java/com/coffeebean/domain/user/user/service/UserService.java
  backend/src/main/java/com/coffeebean/global/init/BaseInit.java
  backend/src/main/java/com/coffeebean/global/security/SecurityConfig.java
  backend/src/main/java/com/coffeebean/global/util/JwtUtil.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/coffeebean/domain/cart/cart/controller/ApiV1CartControllerTest.java
Labels: 🔥 backend, ♻️ refactor

#44 feat(42): 인증/인가 Custom Annotation 구현
  backend/src/main/java/com/coffeebean/domain/item/controller/ApiV1ItemController.java
  backend/src/main/java/com/coffeebean/global/aspect/AdminOnlyAspect.java
  backend/src/main/java/com/coffeebean/global/security/annotations/AdminOnly.java
  backend/src/test/java/com/coffeebean/ApiV1ItemControllerTest.java
Labels: 🔥 backend, ⚙️chore, ✨ feat

#40 feat(37): 결제 완료 페이지 화면 레이아웃 구현
  frontend/src/app/cart/ClientPage.tsx
  frontend/src/app/orders/complete/ClientPage.tsx
  frontend/src/app/orders/complete/page.tsx
Labels: ✨ feat, 🌈 frontend

#43 feat(41): 결제 페이지 화면 구성
  frontend/src/app/orders/payment/ClientPage.tsx
  frontend/src/app/orders/payment/page.tsx
Labels: ✨ feat, 🌈 frontend

#30 feat(24) : 상품 목록, 세부 상품 페이지 API 연동 구현
  frontend/src/app/items/ClientPage.tsx
  frontend/src/app/items/[id]/ClientPage.tsx
  frontend/src/app/items/[id]/page.tsx
Labels: ✨ feat, 🌈 frontend

#34 feat(5): 질문 관리
  backend/src/main/java/com/coffeebean/domain/question/answer/entity/Answer.java
  backend/src/main/java/com/coffeebean/domain/question/answer/repository/AnswerRepository.java
  backend/src/main/java/com/coffeebean/domain/question/answer/service/AnswerService.java
  backend/src/main/java/com/coffeebean/domain/question/question/controller/ApiV1QuestionController.java
  backend/src/main/java/com/coffeebean/domain/question/question/dto/QuestionDto.java
  backend/src/main/java/com/coffeebean/domain/question/question/entity/Question.java
  backend/src/main/java/com/coffeebean/domain/question/question/repository/QuestionRepository.java
  backend/src/main/java/com/coffeebean/domain/question/question/service/QuestionService.java
  backend/src/main/java/com/coffeebean/domain/user/user/service/UserService.java
  backend/src/main/java/com/coffeebean/global/init/BaseInit.java
  backend/src/test/java/com/coffeebean/domain/cart/cart/controller/ApiV1CartControllerTest.java
  backend/src/test/java/com/coffeebean/domain/order/order/controller/ApiV1OrderControllerTest.java
  backend/src/test/java/com/coffeebean/domain/question/question/controller/ApiV1QuestionControllerTest.java
Labels: 🔥 backend, ✨ feat

#45 [BUG]상품 수정 문제
  backend/src/main/java/com/coffeebean/domain/item/controller/ApiV1ItemController.java
  backend/src/main/java/com/coffeebean/domain/item/service/ItemService.java
  backend/src/main/java/com/coffeebean/global/security/SecurityConfig.java
  frontend/src/app/admin/checkItems/ClientPage.tsx
Labels: 🐛bug, 🔥 backend, ♻️ refactor

#48 feat(47): 주문 등록 API 성공 응답 데이터 수정
  backend/src/main/java/com/coffeebean/domain/order/order/controller/ApiV1OrderController.java
  backend/src/main/java/com/coffeebean/domain/order/order/dto/OrderCreateResponse.java
  backend/src/main/java/com/coffeebean/domain/order/orderItem/service/OrderItemService.java
Labels: 🔥 backend, ✨ feat

#56 feat(54): 질문 관련 페이지 구성 + 백엔드와 연동
  backend/src/main/java/com/coffeebean/domain/item/controller/ApiV1ItemController.java
  backend/src/main/java/com/coffeebean/domain/question/question/repository/QuestionRepository.java
  backend/src/main/java/com/coffeebean/domain/question/question/service/QuestionService.java
  backend/src/main/java/com/coffeebean/global/init/BaseInit.java
  frontend/src/app/items/[id]/ClientPage.tsx
  frontend/src/app/questions/ClientPage.tsx
  frontend/src/app/questions/[id]/ClientPage.tsx
  frontend/src/app/questions/[id]/page.tsx
  frontend/src/app/questions/new/ClientPage.tsx
  frontend/src/app/questions/new/page.tsx
  frontend/src/app/questions/page.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend

#52 feat(51): 마이 페이지구현
  backend/src/main/java/com/coffeebean/domain/item/controller/ApiV1ItemController.java
  backend/src/main/java/com/coffeebean/domain/order/order/OrderDto.java
  backend/src/main/java/com/coffeebean/domain/order/order/controller/OrderController.java
  backend/src/main/java/com/coffeebean/domain/order/order/repository/OrderRepository.java
  backend/src/main/java/com/coffeebean/domain/order/order/service/OrderService.java
  backend/src/main/java/com/coffeebean/domain/order/orderItem/entity/OrderItem.java
  backend/src/main/java/com/coffeebean/domain/order/orderItem/repository/OrderItemRepository.java
  backend/src/main/java/com/coffeebean/domain/question/question/repository/QuestionRepository.java
  backend/src/main/java/com/coffeebean/domain/question/question/service/QuestionService.java
  backend/src/main/java/com/coffeebean/domain/review/review/ReviewController.java
  backend/src/main/java/com/coffeebean/domain/review/review/ReviewRequest.java
  backend/src/main/java/com/coffeebean/domain/review/review/ReviewableOrderItemDto.java
  backend/src/main/java/com/coffeebean/domain/review/review/controller/ReviewController.java
  backend/src/main/java/com/coffeebean/domain/review/review/entity/Review.java
  backend/src/main/java/com/coffeebean/domain/review/review/entity/ReviewDetailDto.java
  backend/src/main/java/com/coffeebean/domain/review/review/respository/ReviewRepository.java
  backend/src/main/java/com/coffeebean/domain/review/review/service/ReviewService.java
  backend/src/main/java/com/coffeebean/domain/user/MyPageResponse.java
  backend/src/main/java/com/coffeebean/domain/user/pointHitstory/PointHistoryDto.java
  backend/src/main/java/com/coffeebean/domain/user/pointHitstory/entity/PointHistory.java
  backend/src/main/java/com/coffeebean/domain/user/user/controller/UserController.java
  backend/src/main/java/com/coffeebean/domain/user/user/enitity/User.java
  backend/src/main/java/com/coffeebean/domain/user/user/mypage/MyPageController.java
  backend/src/main/java/com/coffeebean/domain/user/user/repository/UserRepository.java
  backend/src/main/java/com/coffeebean/domain/user/user/service/UserService.java
  backend/src/main/java/com/coffeebean/global/annotation/Login.java
  backend/src/main/java/com/coffeebean/global/annotation/LoginUserArgumentResolver.java
  backend/src/main/java/com/coffeebean/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/coffeebean/global/security/SecurityConfig.java
  backend/src/main/java/com/coffeebean/global/util/CustomUserDetails.java
  backend/src/main/java/com/coffeebean/global/util/JwtAuthenticationFilterFromCookie.java
  backend/src/main/java/com/coffeebean/global/util/JwtAuthenticationFilterFromHeader.java
  backend/src/main/java/com/coffeebean/global/util/JwtUtil.java
  backend/src/main/java/com/coffeebean/global/web/WebConfig.java
  backend/src/test/java/com/coffeebean/domain/review/review/service/ReviewServiceIntegrationTest.java
  backend/src/test/java/com/coffeebean/domain/review/review/service/ReviewServiceUnitTest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/items/ClientPage.tsx
  frontend/src/app/my/home/page.tsx
  frontend/src/app/my/orders/detail/[orderId]/page.tsx
  frontend/src/app/my/orders/page.tsx
  frontend/src/app/my/point/history/page.tsx
  frontend/src/app/my/review/page.tsx
  frontend/src/app/orders/detail/[orderId]/page.tsx
  frontend/src/app/orders/page.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend, ♻️ refactor

#62 feat(31,32): 로그인, 로그아웃 레이아웃 및 API 연결
  backend/src/main/java/com/coffeebean/domain/user/user/controller/UserController.java
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/admin/login/page.tsx
  frontend/src/app/user/login/page.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend

#66 Refactor(65): JWT 필터 오류 처리 리팩토링 / JWT 필터 적용 범위 제한
  backend/src/main/java/com/coffeebean/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/coffeebean/global/security/SecurityConfig.java
  backend/src/main/java/com/coffeebean/global/util/JwtAuthenticationFilterFromCookie.java
  backend/src/main/java/com/coffeebean/global/util/JwtAuthenticationFilterFromHeader.java
  backend/src/main/java/com/coffeebean/global/util/JwtUtil.java
  backend/src/test/java/com/coffeebean/domain/review/review/service/ReviewServiceIntegrationTest.java
  backend/src/test/java/com/coffeebean/domain/review/review/service/ReviewServiceUnitTest.java
Labels: 🔥 backend, ♻️ refactor

#64 feat(59): 공지사항 기능 구현 + 프론트 구현
  backend/src/main/java/com/coffeebean/domain/notice/notice/controller/ApiV1NoticeController.java
  backend/src/main/java/com/coffeebean/domain/notice/notice/dto/NoticeDto.java
  backend/src/main/java/com/coffeebean/domain/notice/notice/entity/Notice.java
  backend/src/main/java/com/coffeebean/domain/notice/notice/repository/NoticeRepository.java
  backend/src/main/java/com/coffeebean/domain/notice/notice/service/NoticeService.java
  backend/src/main/java/com/coffeebean/global/init/BaseInit.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/items/ClientPage.tsx
  frontend/src/app/notice/ClientPage.tsx
  frontend/src/app/notices/ClientPage.tsx
  frontend/src/app/notices/[id]/ClientPage.tsx
  frontend/src/app/notices/[id]/page.tsx
  frontend/src/app/notices/edit/[id]/ClientPage.tsx
  frontend/src/app/notices/edit/[id]/page.tsx
  frontend/src/app/notices/page.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend

#69 feat(57): 장바구니 페이지, 결제 페이지, 결제 완료 페이지 API 연결 및 쿠키 인증 적용
  backend/src/main/java/com/coffeebean/domain/cart/cart/controller/ApiV1CartController.java
  backend/src/main/java/com/coffeebean/domain/user/user/dto/UserInfoResponse.java
  backend/src/main/java/com/coffeebean/domain/user/user/mypage/MyPageController.java
  backend/src/main/java/com/coffeebean/global/security/SecurityConfig.java
  backend/src/main/java/com/coffeebean/global/util/JwtAuthenticationFilterFromCookie.java
  backend/src/main/java/com/coffeebean/global/util/JwtUtil.java
  backend/src/test/java/com/coffeebean/domain/cart/cart/controller/ApiV1CartControllerTest.java
  frontend/src/app/cart/ClientPage.tsx
  frontend/src/app/orders/complete/ClientPage.tsx
  frontend/src/app/orders/payment/ClientPage.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend

#67 [Feat] 일괄배송 수정
  backend/src/main/java/com/coffeebean/domain/order/order/entity/Order.java
  backend/src/main/java/com/coffeebean/domain/order/order/repository/OrderRepository.java
  backend/src/main/java/com/coffeebean/domain/order/order/service/OrderScheduler.java
  backend/src/main/java/com/coffeebean/domain/order/order/service/OrderService.java
  backend/src/main/java/com/coffeebean/domain/user/user/service/MailService.java
  backend/src/test/java/com/coffeebean/domain/order/order/service/OrderSchedulerTest.java
Labels: 🐛bug, 🔥 backend, ✨ feat

#71 feat(68): 세부 상품 페이지 - 장바구니 연동 및 바로 결제 - 결제 연동
  backend/src/main/java/com/coffeebean/global/annotation/LoginUserArgumentResolver.java
  backend/src/main/java/com/coffeebean/global/util/JwtAuthenticationFilterFromCookie.java
  backend/src/main/java/com/coffeebean/global/util/JwtUtil.java
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/cart/ClientPage.tsx
  frontend/src/app/globals.css
  frontend/src/app/items/[id]/ClientPage.tsx
  frontend/src/components/ui/card.tsx
Labels: 🐛bug, 🔥 backend, ✨ feat, 🌈 frontend

#78 feat(63): 회원가입 레이아웃 및 API 연결
  frontend/src/app/user/signup/page.tsx
Labels: ✨ feat, 🌈 frontend, 💄 style

#77 feat(73): 상품 재고 수량과 관련된 기능 적용(장바구니, 결제, 주문 페이지)
  backend/src/main/java/com/coffeebean/domain/cart/cart/entity/Cart.java
  backend/src/main/java/com/coffeebean/domain/item/entity/Item.java
  backend/src/main/java/com/coffeebean/domain/item/service/ItemService.java
  backend/src/main/java/com/coffeebean/domain/order/order/controller/ApiV1OrderController.java
  backend/src/main/java/com/coffeebean/domain/order/order/dto/OrderCreateRequest.java
  backend/src/main/java/com/coffeebean/domain/order/orderItem/service/OrderItemService.java
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/cart/ClientPage.tsx
  frontend/src/app/items/[id]/ClientPage.tsx
  frontend/src/app/orders/payment/ClientPage.tsx
  frontend/src/app/user/login/page.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend

#76 feat(72): 질문 작성 페이지 수정 및 관리자 페이지와 연동, 공지사항-관리자 연동
  backend/src/main/java/com/coffeebean/domain/notice/notice/controller/ApiV1NoticeController.java
  backend/src/main/java/com/coffeebean/domain/notice/notice/service/NoticeService.java
  backend/src/main/java/com/coffeebean/domain/question/answer/entity/Answer.java
  backend/src/main/java/com/coffeebean/domain/question/answer/service/AnswerService.java
  backend/src/main/java/com/coffeebean/domain/question/question/controller/ApiV1QuestionController.java
  backend/src/main/java/com/coffeebean/global/aspect/AdminOnlyAspect.java
  backend/src/main/java/com/coffeebean/global/init/BaseInit.java
  frontend/src/app/admin/noticeManagement/ClientPage.tsx
  frontend/src/app/admin/noticeManagement/edit/[id]/ClientPage.tsx
  frontend/src/app/admin/noticeManagement/edit/[id]/page.tsx
  frontend/src/app/admin/noticeManagement/new/ClientPage.tsx
  frontend/src/app/admin/noticeManagement/new/page.tsx
  frontend/src/app/admin/noticeManagement/page.tsx
  frontend/src/app/admin/questionManagement/ClientPage.tsx
  frontend/src/app/admin/questionManagement/[id]/answer/ClientPage.tsx
  frontend/src/app/admin/questionManagement/[id]/answer/page.tsx
  frontend/src/app/admin/questionManagement/[id]/edit/ClientPage.tsx
  frontend/src/app/admin/questionManagement/[id]/edit/page.tsx
  frontend/src/app/admin/questionManagement/page.tsx
  frontend/src/app/items/[id]/ClientPage.tsx
  frontend/src/app/notices/[id]/ClientPage.tsx
  frontend/src/app/questions/[id]/ClientPage.tsx
  frontend/src/app/questions/new/ClientPage.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend, ♻️ refactor

#75 feat(53, 74): 마이페이지 프론트 - 백엔드 쿠키 연동 / jwt 쿠키 필터 수정 및 헤더 필터 삭제 / 비회원 주문 조회 로직 구현
  backend/src/main/java/com/coffeebean/domain/order/order/controller/OrderController.java
  backend/src/main/java/com/coffeebean/domain/order/order/service/OrderService.java
  backend/src/main/java/com/coffeebean/domain/user/user/dto/UserDto.java
  backend/src/main/java/com/coffeebean/domain/user/user/mypage/MyPageController.java
  backend/src/main/java/com/coffeebean/domain/user/user/service/EmailVerificationService.java
  backend/src/main/java/com/coffeebean/domain/user/user/service/UserService.java
  backend/src/main/java/com/coffeebean/global/security/SecurityConfig.java
  backend/src/main/java/com/coffeebean/global/util/JwtAuthenticationFilterFromCookie.java
  backend/src/main/java/com/coffeebean/global/util/JwtAuthenticationFilterFromHeader.java
  backend/src/main/java/com/coffeebean/global/util/JwtUtil.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/globals.css
  frontend/src/app/guest/orders/detail/[orderId]/page.tsx
  frontend/src/app/guest/orders/page.tsx
  frontend/src/app/guest/page.tsx
  frontend/src/app/my/home/page.tsx
  frontend/src/app/my/orders/detail/[orderId]/page.tsx
  frontend/src/app/my/orders/page.tsx
  frontend/src/app/my/point/history/page.tsx
  frontend/src/app/my/review/page.tsx
  frontend/src/app/user/login/page.tsx
  frontend/src/app/user/signup/page.tsx
  frontend/tsconfig.json
Labels: 🔥 backend, 🌈 frontend, ♻️ refactor

#84 feat(70) 관리자주문조회
  backend/src/main/java/com/coffeebean/domain/order/order/controller/OrderController.java
  backend/src/main/java/com/coffeebean/domain/order/order/dto/OrderItemsDto.java
  backend/src/main/java/com/coffeebean/domain/order/order/dto/OrderListDto.java
  backend/src/main/java/com/coffeebean/domain/order/order/dto/OrderListResponseDto.java
  backend/src/main/java/com/coffeebean/domain/order/order/repository/OrderRepository.java
  backend/src/main/java/com/coffeebean/domain/order/order/service/OrderService.java
  backend/src/main/java/com/coffeebean/global/util/JwtAuthenticationFilterFromCookie.java
  frontend/src/app/admin/layout.tsx
  frontend/src/app/admin/orderManagement/ClientPage.tsx
  frontend/src/app/admin/orderManagement/[id]/ClientPage.tsx
  frontend/src/app/admin/orderManagement/[id]/page.tsx
  frontend/src/app/admin/orderManagement/page.tsx
  frontend/src/app/my/home/page.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend

#89 feat(88): 관리자 레이아웃 수정
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/admin/layout.tsx
  frontend/src/app/admin/page.tsx
Labels: ✨ feat, 🌈 frontend, ♻️ refactor, 💄 style

#87 feat(81): 결제 시 포인트 사용 기능 추가
  backend/src/main/java/com/coffeebean/domain/order/order/controller/ApiV1OrderController.java
  backend/src/main/java/com/coffeebean/domain/order/order/dto/OrderCreateRequest.java
  backend/src/main/java/com/coffeebean/domain/order/orderItem/service/OrderItemService.java
  backend/src/main/java/com/coffeebean/domain/user/user/dto/UserInfoResponse.java
  backend/src/main/java/com/coffeebean/domain/user/user/enitity/User.java
  backend/src/main/java/com/coffeebean/domain/user/user/service/UserService.java
  backend/src/main/java/com/coffeebean/global/init/BaseInit.java
  backend/src/test/java/com/coffeebean/domain/order/order/controller/ApiV1OrderControllerTest.java
  frontend/src/app/orders/payment/ClientPage.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend

#92 feat(80): 상품과 공지사항 페이징 기능
  backend/src/main/java/com/coffeebean/domain/item/controller/ApiV1ItemController.java
  backend/src/main/java/com/coffeebean/domain/item/service/ItemService.java
  backend/src/main/java/com/coffeebean/domain/notice/notice/controller/ApiV1NoticeController.java
  backend/src/main/java/com/coffeebean/domain/notice/notice/repository/NoticeRepository.java
  backend/src/main/java/com/coffeebean/domain/notice/notice/service/NoticeService.java
  frontend/src/app/admin/checkItems/ClientPage.tsx
  frontend/src/app/admin/modifyItems/ClientPage.tsx
  frontend/src/app/admin/noticeManagement/ClientPage.tsx
  frontend/src/app/items/ClientPage.tsx
  frontend/src/app/notices/ClientPage.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend

#97 fix : 스케줄링동작 / Feat : 주문시 메일 전송
  backend/src/main/java/com/coffeebean/CoffeebeanApplication.java
  backend/src/main/java/com/coffeebean/domain/order/order/controller/ApiV1OrderController.java
  backend/src/main/java/com/coffeebean/domain/order/order/entity/Order.java
  backend/src/main/java/com/coffeebean/domain/order/order/service/OrderService.java
Labels: 🐛bug, 🔥 backend

#94 feat(82): 로그인 상태에 따라 로그인/로그아웃/회원가입 표시, 장바구니 전체조회 오류 수정
  backend/src/main/java/com/coffeebean/global/util/JwtAuthenticationFilterFromCookie.java
  backend/src/main/java/com/coffeebean/global/util/JwtUtil.java
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/user/login/page.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend

#95 feat(79): 회원 수정 기능 및 레이아웃
  backend/src/main/java/com/coffeebean/domain/user/user/controller/UserController.java
  backend/src/main/java/com/coffeebean/domain/user/user/service/UserService.java
  backend/src/test/java/com/coffeebean/domain/user/UserControllerTest.java
  backend/src/test/java/com/coffeebean/domain/user/UserRepositoryTest.java
  backend/src/test/java/com/coffeebean/domain/user/UserServiceTest.java
  frontend/src/app/my/home/page.tsx
  frontend/src/app/my/home/profile/edit/address/page.tsx
  frontend/src/app/my/home/profile/edit/name/page.tsx
  frontend/src/app/my/home/profile/edit/page.tsx
  frontend/src/app/my/home/profile/edit/password/page.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend, 💄 style

#98 feat(83): 상품 이미지 추가 (상품 추가, 상품 수정, 상품 목록, 상품 상세 페이지 연결)
  backend/src/main/java/com/coffeebean/domain/item/controller/ApiV1ItemController.java
  backend/src/main/java/com/coffeebean/domain/item/dto/ItemDto.java
  backend/src/main/java/com/coffeebean/domain/item/entity/Item.java
  backend/src/main/java/com/coffeebean/domain/item/service/ItemService.java
  backend/src/main/java/com/coffeebean/global/init/BaseInit.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/1.webp
  backend/src/main/resources/static/10.webp
  backend/src/main/resources/static/11.webp
  backend/src/main/resources/static/12.webp
  backend/src/main/resources/static/13.webp
  backend/src/main/resources/static/14.webp
  backend/src/main/resources/static/15.webp
  backend/src/main/resources/static/16.webp
  backend/src/main/resources/static/17.webp
  backend/src/main/resources/static/18.webp
  backend/src/main/resources/static/19.webp
  backend/src/main/resources/static/2.webp
  backend/src/main/resources/static/20.webp
  backend/src/main/resources/static/3.webp
  backend/src/main/resources/static/4.webp
  backend/src/main/resources/static/5.webp
  backend/src/main/resources/static/6.webp
  backend/src/main/resources/static/7.webp
  backend/src/main/resources/static/8.webp
  backend/src/main/resources/static/9.webp
  frontend/next.config.ts
  frontend/src/app/admin/addItem/ClientPage.tsx
  frontend/src/app/admin/modifyItems/[id]/ClientPage.tsx
  frontend/src/app/items/ClientPage.tsx
  frontend/src/app/items/[id]/ClientPage.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend

#99 feat(93): 관리자가 주문 상태 변경 기능 + 상품 상세 페이지에서 리뷰 표시
  backend/src/main/java/com/coffeebean/domain/item/controller/ApiV1ItemController.java
  backend/src/main/java/com/coffeebean/domain/order/order/controller/OrderController.java
  backend/src/main/java/com/coffeebean/domain/order/order/service/OrderService.java
  backend/src/main/java/com/coffeebean/domain/review/review/entity/ReviewDetailDto.java
  backend/src/main/java/com/coffeebean/domain/review/review/respository/ReviewRepository.java
  backend/src/main/java/com/coffeebean/domain/review/review/service/ReviewService.java
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/admin/layout.tsx
  frontend/src/app/admin/orderManagement/[id]/ClientPage.tsx
  frontend/src/app/admin/reviewManagement/ClientPage.tsx
  frontend/src/app/admin/reviewManagement/page.tsx
  frontend/src/app/items/[id]/ClientPage.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend

#102 feat(100): 포토 리뷰 로직 구현 / 프론트엔드 코드 연결
  backend/src/main/java/com/coffeebean/domain/review/review/ReviewRequest.java
  backend/src/main/java/com/coffeebean/domain/review/review/controller/ReviewController.java
  backend/src/main/java/com/coffeebean/domain/review/review/entity/Review.java
  backend/src/main/java/com/coffeebean/domain/review/review/entity/ReviewDetailDto.java
  backend/src/main/java/com/coffeebean/domain/review/review/service/FileStorageService.java
  backend/src/main/java/com/coffeebean/domain/review/review/service/ReviewService.java
  backend/src/main/java/com/coffeebean/global/exception/FileNotFoundException.java
  backend/src/main/java/com/coffeebean/global/exception/FileStorageException.java
  backend/src/main/java/com/coffeebean/global/web/WebConfig.java
  backend/src/test/java/com/coffeebean/domain/review/review/service/ReviewServiceIntegrationTest.java
  backend/src/test/java/com/coffeebean/domain/review/review/service/ReviewServiceUnitTest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/app/my/review/page.tsx
Labels: 🔥 backend, ✨ feat, 🌈 frontend, 💄 style

#110 feat(108): 프론트엔드 코드 수정 (사용자 전체)
  backend/src/main/resources/static/1.webp
  backend/src/main/resources/static/10.webp
  backend/src/main/resources/static/11.webp
  backend/src/main/resources/static/12.webp
  backend/src/main/resources/static/13.webp
  backend/src/main/resources/static/14.webp
  backend/src/main/resources/static/15.webp
  backend/src/main/resources/static/16.webp
  backend/src/main/resources/static/17.webp
  backend/src/main/resources/static/18.webp
  backend/src/main/resources/static/19.webp
  backend/src/main/resources/static/2.webp
  backend/src/main/resources/static/20.webp
  backend/src/main/resources/static/3.webp
  backend/src/main/resources/static/4.webp
  backend/src/main/resources/static/5.webp
  backend/src/main/resources/static/6.webp
  backend/src/main/resources/static/7.webp
  backend/src/main/resources/static/8.webp
  backend/src/main/resources/static/9.webp
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/admin/layout.tsx
  frontend/src/app/admin/login/page.tsx
  frontend/src/app/cart/ClientPage.tsx
  frontend/src/app/guest/orders/detail/[orderId]/page.tsx
  frontend/src/app/items/[id]/ClientPage.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/my/home/profile/edit/address/page.tsx
  frontend/src/app/my/home/profile/edit/name/page.tsx
  frontend/src/app/my/home/profile/edit/password/page.tsx
  frontend/src/app/my/review/page.tsx
  frontend/src/app/notices/ClientPage.tsx
  frontend/src/app/notices/[id]/ClientPage.tsx
  frontend/src/app/orders/complete/ClientPage.tsx
  frontend/src/app/orders/payment/ClientPage.tsx
  frontend/src/app/page.tsx
  frontend/src/app/user/login/page.tsx
  frontend/src/app/user/signup/page.tsx
  frontend/src/components/menubar.tsx
  frontend/src/components/ui/ClientLayout.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/menubar.tsx
  frontend/src/redux/auth.slice.ts
  frontend/src/redux/cart.slice.ts
  frontend/src/redux/provider.tsx
  frontend/src/redux/store.ts
Labels: 🌈 frontend, ♻️ refactor
